
# Node
/node_modules

# Next
/.next
/out

# Vercel
.vercel

# Local envs and secrets
.env
.env.local
.env.*.local
app/.env
app/.env.local
app/.env.*.local
FIREBASE_SERVICE_ACCOUNT

# DB
**/dev.db

# Logs
npm-debug.log*
.yarn-error.log*

# Misc
.DS_Store
.env*
