
# Node
/node_modules

# Next
/.next
/out

# Vercel
.vercel

# Local envs and secrets
.env
.env.local
.env.*.local
app/.env
app/.env.local
app/.env.*.local
FIREBASE_SERVICE_ACCOUNT
*firebase-adminsdk*.json
*.pem
*.key


# DB
**/dev.db

# Firebase
.firebase/
firebase-debug.log*
app/firebase-debug.log*

# Misc
.DS_Store
.env*
